body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #ffffff;
  }
  .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .middle {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
        width: 100%;
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card h2, .card h3, .card p {
        margin-top: 0;
        text-align: left;
    }
    .card table {
        width: 100%;
        border-collapse: collapse;
    }
    .card th, .card td {
      border-radius: 10px;
        padding: 10px;
        text-align: left;
    }
    .card th {
        background-color: #2d2f31;
        color: #fff;
    }
    .card td {
        background-color: #ffffff;
    }
    .card input[type="number"], .card select {
        width: 100px;
        padding: 5px;
        text-align: center;
        border-radius: 25px;
        border-width: 1px;
        height: 30px;
    }
    .card input[type="checkbox"] {
        margin-right: 10px;
    }

    .btn {
        display: inline-block;
        background: #2d2f31;    
        width: 430px;
        border-radius: 25px;
        font-family: 'Oxygen', sans-serif;
        color: #ffffff;
        padding: 12px 30px;
        text-decoration: none;
        border-width: 1px;
        border-style: solid;
        display: flex;
        align-items: center;
        white-space: nowrap;
        justify-content: center;
        margin: 0px;
    }
    .btn:hover {
        text-decoration: none;
        border-radius: 20px;
        background: #ffffff;
        color: #2d2f31;
        border-color: #2d2f31;
    }
    .bottom {
        text-align: center;
        padding: 20px;
        background-color: #2d2f31;
        color: #ffffff;
    }
    .bottom img {
        height: 50px;
    }
    .bottom p {
        margin: 10px 0;
    }